html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #161A2A;
}
body{
  margin:0;
}

.container{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  padding: .8rem;
  width: 100%;
}

.content-wrapper{
  display:flex;
  flex-direction: row;
}

.col-3{
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}

.heading{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  font-variant: small-caps;
}
.event-card{
  background-color: #1F273C;
  padding: .5rem 1rem 2rem 1rem;
  margin-bottom: 20px;
  width:100%;
  height:100%;
}

.discord{    
   display: flex;
  justify-content: center;
  margin-bottom: 0;
  background-color: #1F273C;
  width: 315px;
  /* height: 100%; */
  flex-direction: column;
  padding: 1rem;
  text-align:center;
}
.discord-e{
  width:100%;
}
.discord-embed{
  display:block;
  margin: 0 auto;
  width:100%;
}
.discord p{
  margin: 0px 0px .5rem 0px;
  line-height: 2;
}

.discord .img{
  flex: 1;

}
.img img{
  width: 90%;
  margin: auto;
  display: block;
}
.discord .event-card-text{
  flex: 1;
}
.event-card-title h1{
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.event-card-text a{
  color: #8f9fda;
}
.discord-text{
  padding: 0px 5px;
}
.line-1{border: 1px solid #4A63F6; }
.line-2{border: 1px solid #00B3A9;}
.line-3{border: 1px solid #A64CB2;}

.event-card-text{
  margin-top: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 2;
}
.col-9-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-9{
  flex: 1;
  display: flex;
  align-items: stretch;
  max-height: 100%;
  justify-content: space-between;
}
.club-card{
  background-color: #1F273C;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 1rem;
  text-align: center;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.club-card-text{
  margin-bottom:2rem;
}
.logo{
  margin: 0 auto;
  flex: 0;
}
/* Leaderboard section */
.leaderboard-wrapper{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
}
.leaderboard{
  background-color: #1F273C;
  display:flex;
  align-items:flex-end;
  justify-content: space-evenly;
  height:100%;
}

.place-wrapper{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.place-text-outer{
  display:flex;
  flex:1;
  justify-content:center;
  align-items:flex-end;
  width:100%;
  height:100%;
}
.place-text-inner{
  height:100%;
}
.place-1{
  flex:2;
  width:100%;
  background-color: #4A63F6;
  text-align:center;
}
.place-2{
  flex:1;
  width:100%;
  background-color: #23B3A8;
  text-align:center;
}
.place-3{
  flex:.5;
  width:100%;
  background-color: #A74CB2;
  text-align:center;
}

.fl-right{
  float:right;
}
.heading-section{
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}
.heading-section h1{
  margin:0;
}
.heading-2{
  color:#aaa;
  font-size: 20px;
}
.quote{
  text-align: center;
}
.quote h1{
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}
  


.logo-2{
  display: flex;
  justify-content: center;
  width:100%;
}

.quote-section{
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.quote-section h1{
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
}

.quote-section img{
  width:80%;
}

.col-wrapper{
  margin: 0 15px;
  flex:2;
  display:flex;
  flex-direction: column;
  justify-content: left;
  padding: 0 1rem;
}
.club-card-button button{
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
  flex: 0;
}
.club-card-button{
   position: absolute;
   bottom: 5%;
  left: 50%;
}

.club-header{
  margin: 0 auto;
}

.club-card-text{
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
  
.club-header h1{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
}

.acc-color{
  background-color: #4A63F6;
}
.csi-color{
   background-color:#00B3A9;
}
.magd-color{
   background-color: #A64CB2;
}
@media screen and (max-width: 900px) {
  .place-wrapper{
    flex-direction:row;
    width:100%;
    height:25%;
  }
  .container{
    overflow: hidden;
    width:100%;
    padding: 0;
  }
  .content-wrapper{
      flex-direction: column;
      width:100%;
  }
  .col-wrapper{
    margin:0;
  };
  .container{
    padding: 0;
    width:100%;
    overflow: hidden;
  }
  .event-card{
    max-width: 80%;
    max-height: 100%;
    box-sizing: border-box;
    margin: 0 auto 20px auto;
    text-align: center;
  }

  .heading{
    text-align:center;
  }
  .col-9{
      flex-direction: column;
      justify-content: center;
      width:100%;
      align-items:center;

  }
  .club-card{
      width: 80%;
      height: 100%;
      margin-bottom: 20px;
      display:flex;
      justify-content: center;
      text-align: center;
      align-items: center;
  }
  .discord-e{
    box-sizing:border-box;
    margin-bottom: 20px;
    max-width:80%;
  }

  .heading-section{
    text-align:center;
    display:block;
  }

  .quote-section h1{
    font-size:15px;
  }

  .place-text-inner{
    position:relative;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .place-text-outer{
    justify-content: flex-end;
    margin-right:10px;
    align-items: center;
  }
  .leaderboard{
    flex-direction:column;
    justify-content:space-around;
    width:80%;
    height: 50vh;
    padding: .5rem 0;
    margin: 0 auto;
  }
}

